@import './base.css';

#app {
  max-width: auto;
  margin: 0 auto;
  font-weight: normal;
  background-color: #f2f2f2;
}

a,
.green {
  text-decoration: none;
  color: orange;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(54, 100%, 37%, 0.4);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}